/*
* This is the stylesheet of the number generator
*/

* {
	user-select: none;
	color: white;
	outline: none;
	transition: 0.2s ease-out;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: rgb(20, 20, 20);
	height: 100vh;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
}
container {
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.title {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
}
.header {
	color: rgb(105, 122, 219);
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 24px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

button {
	background-color: rgb(89, 112, 214);
	font-size: 18px;
	border: 2px solid rgb(49, 66, 146);
	border-radius: 5px;
}
button.submit {
	height: 40px;
	width: 100%;
}
button:hover {
	cursor: pointer;
}
button:active {
	transform: scale(0.95);
	transition: 0.1s ease-out;
}
controls,
numbers {
	height: 475px;
}
controls {
	min-width: 300px;
	width: 60%;
	max-width: 750px;
	margin-right: 50px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid rgb(60, 60, 60);
	overflow: hidden;
}
numbers {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: transparent;
	border: 1px solid rgb(60, 60, 60);
	border-radius: 10px;
	min-width: 300px;
	width: 40%;
	max-width: 500px;
}
output {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	border-radius: 10px;
	background-color: rgb(31, 33, 44);
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}
.output-msg {
	height: 20px;
	font-size: 14px;
	margin: 2px;
	font-family: 'IBM Plex Mono', monospace;
	color: green;
}
.gen-parent {
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	padding-left: 5px;
	animation: txt-draw-in 0.3s ease-out;
}
.gen-parent:hover {
	padding-left: 10px;
	background-color: rgb(41, 44, 58);
	cursor: pointer;
}
.gen-parent-focus {
	filter: brightness(1.5);
	background-color: rgb(30, 34, 53) !important;
	padding-left: 15px !important;
	border-top: 2px solid rgb(49, 66, 146);
	border-bottom: 2px solid rgb(49, 66, 146);
}

@keyframes txt-draw-in {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}
}

*::-webkit-scrollbar {
	width: 10px;
	border: 1px solid rgb(60, 60, 60);
	background: rgb(20, 20, 20);
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	background: rgb(49, 75, 146);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background: rgb(44, 59, 128);
}
.output-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

label {
	font-size: 12px;
}
button.clear {
	margin-left: 20px;
	font-size: 14px;
	padding: 5px;
}

/* Slider */
.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: rgb(60, 60, 60);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}
.slider::-webkit-slider-thumb:active {
	transform: scaleX(0.8) scaleY(1.2);
	transition: 0.2s;
}
.slider::-webkit-slider-thumb {
	transition: 0.2s;
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 30px;
	border-radius: 10px;
	background: rgb(67, 86, 196);
	cursor: pointer;
}
p.no-error {
	opacity: 0;
	height: 0;
}
.error {
	height: 34px;
	color: rgb(250, 60, 60);
	font-size: 14px;
	opacity: 1;
}
.disabled {
	opacity: 0;
}

.value,
input:not(.slider) {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
}
input:not(.slider) {
	padding: 5px;
	background-color: transparent;
	color: white;
	border: none;
	border: 1px solid transparent;
	border-radius: 5px;
	height: 20px;
	width: 45px;
}

input:hover {
	border-color: rgb(60, 60, 60);
}
input:focus {
	border-color: rgb(67, 86, 196);
}
.circle {
	height: 20px;
	width: 20px;
	background-color: lightgray;
	border: 1px solid lightgray;
	border-radius: 15px;
}
.circle-active {
	transform: translateX(100%);
}
parameters {
	display: flex;
	flex-direction: column;
}
.checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.label {
	font-size: 14px;
}
.housing {
	padding: 2px;
	width: 45px;
	height: 22px;
	background-color: rgb(30, 30, 30);
	border-radius: 19px;
	border: 1px solid gray;
	margin-right: 10px;
}
.housing:hover {
	cursor: pointer;
}
.housing-active {
	background-color: rgb(1, 161, 36);
	border-color: lightgrey;
}
/** Copied Message **/
.copied {
	opacity: 1;

	font-size: 14px;
	color: rgb(73, 94, 190);
	float: right;
	margin-right: 10px;
	margin-top: 8px;
	animation: draw-in 0.3s ease-out;
}
.copied-draw-out {
	transform: translateX(120%);
	opacity: 0;
}

@keyframes draw-in {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	60% {
		transform: translateX(-15%);
	}
}
div.parameter-label {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.save {
	position: fixed;
	bottom: 10px;
	left: 10px;
	height: 35px;
	width: 70px;
	animation: save-draw-in 0.3s ease-out;
}

@keyframes save-draw-in {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	60% {
		transform: translateX(15%);
	}
}
.save-out {
	animation: save-draw-out 0.3s ease-out;
	animation-fill-mode: forwards;
}

@keyframes save-draw-out {
	40% {
		transform: translateX(15%);
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}
chart {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#curve-chart {
	width: 80%;
}
